.form-select:focus {
    border-color: #31c3a0;
    box-shadow: 0 0 0 0.15rem rgba(255, 255, 255, 1);
}

.form-control:focus {
    border-color: #31c3a0;
    box-shadow: 0 0 0 0.15rem rgba(255, 255, 255, 1);
}

.pointer-custom:hover {
    cursor: pointer;
}
/* .form-select option:hover {
    background-color: red;
} */

.input-group {
    display: flex;
    justify-content: space-between;
  }

a {
    color:inherit; /* Change to your desired color */
    text-decoration: none; /* Optional: Remove underlines */
  }